{{#partial "navbar"}}
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes/new">Recruit a New Hero</a></li>
    <li class="nav-item"><a class="nav-link" href="/squad/new">Create a New Squad</a></li>
    <li class="nav-item active"><a class="nav-link" href="/heroes">All Heroes & Squads</a></li>
{{/partial}}


{{#partial "content"}}
    <div id="heroDiv">

    </div>
    <hr>
    <div id="squadDiv">

    </div>
{{/partial}}

{{> layout.hbs}}